---
title: Welcome!
layout: splash
tagline: "I'm Noah Wright, and I'm a software engineer.  This is my little slice of the internet where I share the things 
          I know while trying to <a href='https://www.swyx.io/learn-in-public/' target='_blank'>learn in public</a>."
header:
    overlay_color: "#333"
    overlay_filter: "0.5"
    actions:
        - label: "<i class='fa fa-download'></i> Resume"
          url: "/assets/files/NoahWrightResume.pdf"
        - label: "Contact Me"
          url: "/contact/"

carousels:
  - images:
    - image: /assets/images/zooming_code.jpg
      title: Let's Make a Program
      text: My other blog site, where I post tutorials for new programmers and my learning journey in new technologies.
      linkUrl: http://letsmakeaprogram.com/
      linkText: View the site
#   - image: /assets/images/COVID19_Banner.jpg
#      title: COVID Simulation
#      text: A little side-project I'm using to play with JavaScript and model the effect of masking, social distancing, etc.
#      linkUrl: /projects/covid/
#      linkText: Check it out
    - image: /assets/images/GamesDoneWrightLogo.png
      title: Games Done Wright
      text: My itch.io page where I've posted a few little games I made in Unity
      linkUrl: https://gamesdonewright.itch.io/
      linkText: View on Itch.io
classes: wide
---

<div class="feature__wrapper">
  <h1>Recent Posts</h1>
  {% for post in site.posts limit:2 %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
  <a href="/posts/" class="btn btn--primary">All Posts by Date</a>
  <a href="/tags/" class="btn btn--primary">All Posts by Tag</a>
  <!-- <a href="/categories/" class="btn btn--primary">All Posts by Category</a> -->
</div>

<div class="feature__wrapper">
  <h1>Featured Projects</h1>
  {% include carousel.html height="400" unit="px" duration="10" number="1" %}
  <a href="/projects/" class="btn btn--primary">View All Projects</a>
</div>
