---
title: Welcome!
layout: splash
tagline: "I'm Noah Wright, and I'm a software engineer.  This is my little slice of the internet where I share what
          I know, what I've done, and who I am."
header:
    overlay_color: "#333"
    overlay_filter: "0.5"
    actions:
        - label: "<i class='fa fa-download'></i> Resume"
          url: "/assets/files/NoahWrightResume.pdf"
        - label: "Contact Me"
          url: "/contact/"
feature_projects:
  - image_path: /assets/images/placeholder.png
    alt: "placeholder image"
    title: "Projects"
    excerpt: "Like many software engineers, I like to relax after a hard day's work of programming by sitting down
              and programming some more.  Here you'll find some of my side projects that I do for fun and to learn
              new technology outside of work."
    url: "/projects/"
    btn_label: "View All Projects"
    btn_class: "btn--primary"
carousels:
  - images:
    - image: /assets/images/placeholder.png
      title: Let's Make a Program
      text: My other blog site, where I post tutorials for new programmers and my learning journey in new technologies.
      linkUrl: http://letsmakeaprogram.com/
      linkText: View the site
    - image: /assets/images/placeholder.png
      title: COVID Simulation
      text: A little side-project I'm using to play with JavaScript and model the effect of masking, social distancing, etc.
      linkUrl: /projects/covid/
      linkText: Check it out
    - image: /assets/images/placeholder.png
      title: Games Done Wright
      text: My itch.io page where I've posted a few little games I made in Unity
      linkUrl: https://gamesdonewright.itch.io/
      linkText: View on Itch.io
classes: wide
---

<div class="feature__wrapper">
  <h1>Recent Posts</h1>
  {% for post in site.posts limit:2 %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
  <a href="/posts/" class="btn btn--primary">View All Posts</a>
</div>

<div class="feature__wrapper">
  <h1>Featured Projects</h1>
  {% include carousel.html height="400" unit="px" duration="10" number="1" controlColor="#333"%}
  <a href="/projects/" class="btn btn--primary">View All Projects</a>
</div>
